<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hakanaktas.mediaplayerproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaPlayerProject">
        <activity
            android:name=".PlayListMediaGallery"
            android:exported="false" />
        <activity
            android:name=".MusicChooseAdapter"
            android:exported="false" />
        <activity
            android:name=".PlaylistAdapter"
            android:exported="false" />
        <activity
            android:name=".PlayLists"
            android:exported="false" />
        <activity
            android:name=".CreatePlaylist"
            android:exported="false" />
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MediaGallery"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AudioManagerReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.hakanaktas.sensoractivity.SEND_MESSAGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>